$white: #ffffff;
$gray-200:        #e1e4e8 !default;
$gray-000:        #fafbfc !default;
$gray-900: #24292e !default; // body font color
$black: #000000;
$gray-200: #e1e4e8 !default;
$gray-500:        #6a737d !default;
$white-fade-70:      rgba($white, 0.7) !default;
$gray-700:        #444d56 !default;
$gray-300:        #d1d5da !default;
$red-600:         #cb2431 !default;
$gray-100:        #f6f8fa !default;
$blue-500:        #0366d6 !default; // Default: Passes AA with #fff
$blue-400:        #2188ff !default;
$blue:        $blue-500 !default;
$white-fade-15:      rgba($white, 0.15) !default;
$black-fade-30:      rgba($black, 0.3) !default;
$blue-300:        #79b8ff !default;
$yellow-100:      #fffbdd !default;
$gray-600:        #586069 !default;
$yellow-900:      #735c0f !default;
$yellow-300:      #ffea7f !default;
$blue-000:        #f1f8ff !default;

$black-fade-15:      rgba($black, 0.15) !default;

